<div class="container">
  <div class="row">
    <div class="col-lg-4">
    	<h1>Culaccini</h1>
		<p>Culaccini is your definitive guide to underground dining across Los Angeles. It's about chefs, culinary artists, engaging their talents and passion to creating exquisite multi-course meals without interference. It’s about those who crave fresh conversation and exotic pairings with fine wine or craft beers - on patios, in backrooms, or perhaps under the stars. This is dining, rejuvinated and refined.</p>
	<br>
	<%= image_tag 'https://s3-us-west-1.amazonaws.com/culaccini/bottom-bar-image.jpg', class: 'image' %>
	</div>
</div>
</div>