<h1 class="heading">Congratulations, NAME!</h1>
<h2>You're In.</h2>

<p>Welcome to Culaccini, LA's definitive guide to elite and underground dining experiences. Take a moment to peruse the existing events and organizations, but be sure to let organizers know you're intersted by requesting advance notice of tickets.</p>

<button class ="btn-large">Complete My Profile</button>
<button class ="btn-large">View Supper Clubs</button>
<button class ="btn-large">View Events</button>
