<div class="container">
  <div class="row">
    <div class="col-m-4">
    	<h1 class="heading"><%= "Congratulations, #{current_user.name}!" %></h1>
		<h2>You're In.</h2>

		<p>Welcome to Culaccini, LA's definitive guide to elite and underground dining experiences. <br> Take a moment to peruse the existing events and organizations, but be sure to let organizers know you're intersted by requesting advance notice of tickets.</p>

		<button class ="btn-large btn-main">Complete My Profile</button>
		<button class ="btn-large btn-main">View Supper Clubs</button>
		<button class ="btn-large btn-main">View Events</button>
</div>
</div>
</div>
