<h1>MY PROFILE</h1>

<h3><%= "Oh, hello #{current_user.name}" %></h3>

<p>Facebook Photo</p>
<p>Klout Score</p>

<h4>Invitations Requested</h4>

<ul>
	<li>Supper Club Name  |  Their Upcoming Events  |  Status</li>

</ul>